#--------------------- DB ----------------------
# DB Connection with the uri (host) its best to be the same  for all
client: "mongodb://localhost:27017/"
db: "aiot_gestures"
col: "sessions"


#--------------------- Dataframe Instantiation ----------------------
# Dataframe columns list
order: ["X", "Y", "Z"]
rename: ["acc_x", "acc_y", "acc_z"]


#--------------------- Dataset Local Storage ----------------------
# dataset location
data_path: "data_sync"
single_instance_path: "data/sample.csv"


#--------------------- Data Engineering ----------------------
# sliding window algorithm parameters
sliding_window:
  ws:
  overlap:
  w_type: "hann"
  w_center: True
  print_stats: True

# window to handle for visualization purposes
x_number: 2

# filtering parameterization
filter:
  order:
  wn:
  type: "lowpass"


#--------------------- $ Data Preparation ----------------------
# Dimensionality reduction
PCA:
  n_comp:


#--------------------- Learning ----------------------
# Classifier - Statistical
classifier:
  SVC:
    C:
    kernel: "rbf"
    gamma:
  # classifier 2
    # put your other Statistical-related classifier params here
  # classifier 3
    # put your other Statistical-related classifier params here

# Parameter Grid for Fine-tuning, for instance, a Grid Search classifier
fine_tune:
  param_grid: [
    {'C': [1, 10, 100, 1000], 'kernel': ['linear']},
    {'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001], 'kernel': ['rbf']},
   ]
  cv: 5
  verbose: 1
