numpy>=2.0
scipy>=1.13
pandas>=2.2
scikit-learn>=1.5
matplotlib>=3.9
seaborn>=0.13
pymongo>=4.8
pyyaml>=6.0
notebook>=7.2
tqdm>=4.66
pyarrow>=15.0           # για Parquet cache
ipywidgets>=8.1
psynlig>=0.2.2.dev0     # PCA Viz
pydot>=2.0
